<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" media="screen" href="screen.css">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/med.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
    
</head>
<body>
    <header>
        <div class="write_up_div">
            <div><b><i>WELCOME TO OUR GALLARY</i></b></div>
        </div>
        <div class="button_div">
            items = 0
        </div>
        
    </header>
</body>


