<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" media="screen" href="screen.css">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/med.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
    
</head>
<body>
    {% block content %}
    <header>
        <div class="write_up_div">
            <div><b><i>WELCOME TO OUR MARKET</i></b></div>
        
        
    </header>
    <section class="image_descriptor">
        <br>
        <br>
        <h3>Kindly note that our team of professionals will examine your image to make sure it meets our standard</h3>
        <h3>This usually takes 12 to 24 hours. After which your image will be sent our gallery for possible purchase</h3>
        <form method="POST" action="{{ url_for('market') }}" name="ItemForm">
        
            <p> <input type="file", placeholder="upload image", name="image"> </p>
            <p> <input type="text", placeholder="image name", name="name"> </p>
            <p> <input type="text", placeholder="describe image", name="description"> </p>
            <p> <input type="text", placeholder="price in words", name="price"> </p>
            <input type="submit" value="send image">
    
        </form>
        

    </section>

    <footer >
        <p>artifare@{{year}}</p>
        <p>built by John Oloche Okpe</p>
    </footer>
    <script src="{{url_for('static', filename='photo.js')}}"></script>
    {% endblock%}
</body>
</html>